{{>headers}}


<style>
    .main-nav {
    margin-top: 10px;
    justify-content: space-between;
}

.company-logo img {
    width: 90px;
}

.nav-links {
    flex-basis: 730px;
    font-weight: 900;
}

.nav-links ul {
    justify-content: end;
    gap: 40px;
}

.nav-toggle {
    display: none;
}

/* header section */

header {
    padding: 50px var(--padding-inline-section) 0;
}

.header-section {
    justify-content: center;
    gap: 50px;
}

.header-left {
    max-width: 40vw;
}

.header-left h1 {
    margin-top: 30px;
    padding-bottom: 20px;
}

.get-started-btn {
    margin: 17px 25px ;
    gap: 10px;
}

.header-right img {
    width: 100%;
    margin: 35px 35px;
}
.container.header-section.flex{
        padding: 35px;
    }
</style>
<body>
    <!-- nav bar -->
    <nav>
        <div class="container main-nav flex">
            <a href="#" class="company-logo">
                <img src="/images/IMAGE2.JPEG.png" alt="company logo">
            </a>
            <div class="nav-links" id="nav-links">
                <ul class="flex">
                    <li><a href="/TechPhantoms/college" class="hover-link">Home</a></li>
                    <li><a href="#" class="hover-link">About Us</a></li>
                    <li><a href="#" class="hover-link">Contact</a></li>
                    <li><a href="/TechPhantoms/college/profile" class="hover-link">Profile</a></li>
                    <!-- <li><a href="LP.HTML" class="hover-link secondary-button">Sign UP</a></li> -->
                    <!-- <li><a href="#" class="hover-link primary-button">Log in</a></li> -->
                </ul>
            </div>
            <a href="#" class="nav-toggle hover-link" id="nav-toggle">
                <i class="fa-solid fa-bars"></i>
            </a>
        </div>
    </nav>

    <!-- header section -->
    <header>
        <div class="container header-section flex">
            <div class="header-left">
                <h1>Welcome,Chandigarh Group Of College!</h1>
                <p><strong>UPLOAD PROJECTS:</strong> Share your institutions cutting-edge projects with the community. Inspire collaboration, innovation and learning by contributing to the platform's knowledge base..</p>
                    
                    <a href="/TechPhantoms/college/upload" class="primary-button get-started-btn">Upload projects</a>
                    
                    
                   <p> <strong> UPLOAD CHALLENGES:</strong> Pose intriguing challenges to students and witness their problem solving prowess. Encourage creativity, critical thinking, and real world application of knowledge.
                    
                </p>
                <a href="/TechPhantoms/college/challange" class="primary-button get-started-btn">Upload challenges</a>
            </div>
            <div class="header-right">
                <img src="/images/blur 2.png" alt="studying photo">
            </div>
        </div>
    </header>
    </body>