{{>headers}}

{{>welcomeNav}}

    <!-- header section -->
    <header>
        <div class="container header-section flex">
            <div class="header-left">
                <h1>Hey!!!<br>Welcome User !!!!</h1>
                <p><strong>Let's Explore</strong> Share your institutions cutting-edge projects with the community. Inspire collaboration, innovation and learning by contributing to the platform's knowledge base..</p>
                    
                    <a href="/TechPhantoms/student/explore" class="primary-button get-started-btn">Let's Explore</a>
                    
                    
                   <p> <strong> Let's Explore</strong> Pose intriguing challenges to students and witness their problem solving prowess. Encourage creativity, critical thinking, and real world application of knowledge.
                    
                </p>
                <a href="#" class="primary-button get-started-btn">Show challenges</a>
            </div>
            <div class="header-right">
                <img src="/images/blur 2.png" alt="studying photo">
            </div>
        </div>
    </header>