{{>headers}}

<body>
    
 
    <!-- nav bar -->
    {{>welcomeNav}}
    

    <!-- header section -->
    <header>
        <div class="container header-section flex">
            <div class="header-left">
                <h1>TECH PHANTOMS</h1>
                <p>TECH PHANTOM is a one stop solution for all your inner creativity and designing.
                    this is a site where you can browse between diffrent colleges and find something you can worth your time.</p>
                    <br>
                    <br>
                    
                   <p> In this site you can find various projects of diffrent colleges and find the creativity of their students
                    and can upgrade your skill set by doing interactive and amazing projects. 
                    
                </p>
                <a href="/TechPhantoms/college/registration" class="primary-button get-started-btn">COLLEGE</a>
                <a href="/TechPhantoms/student/registration" class="primary-button get-started-btn">STUDENT</a>
            </div>
            <div class="header-right">
                <img src="images/image5.jpeg.jpg" alt="studying photo">
            </div>
        </div>
    </header>
    </body>