<head>
    <meta charset="utf-8">
    <title>TechPhantoms</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/welcome-page.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/Profile.css">
    <link rel="stylesheet" href="/explore.css">
    <link rel="stylesheet" href="/chatbotCss.css">
    <link rel="stylesheet" href="/uploadPage.css">

    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    {{!-- <link rel="stylesheet" href="/MEDIA.CSS"> --}}
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/af81aaf2dc.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>