{{>headers}}

<nav>
        <div class="container main-nav flex">
            <a href="#" class="company-logo">
                <img src="/images/IMAGE2.JPEG.png" alt="company logo">
            </a>
            <div class="nav-links" id="nav-links">
                <ul class="flex">
                    <li><a href="#" class="hover-link">Products</a></li>
                    <li><a href="#" class="hover-link">Customer</a></li>
                    <li><a href="#" class="hover-link">Pricing</a></li>
                    <li><a href="/TechPhantoms" class="hover-link">logout</a></li>
                    <!-- <li><a href="LP.HTML" class="hover-link secondary-button">Sign UP</a></li> -->
                    <!-- <li><a href="#" class="hover-link primary-button">Log in</a></li> -->
                </ul>
            </div>
            <a href="#" class="nav-toggle hover-link" id="nav-toggle">
                <i class="fa-solid fa-bars"></i>
            </a>
        </div>
    </nav>